<script>start("/Users/dineshj/Documents/full/.cursor/rules/");</script>
<script>onHasParentDirectory();</script>
<script>addRow("core.mdc","core.mdc",0,7816,"7.6 kB",1755668464,"20/08/2025, 11:11:04");</script>
<script>addRow("memory-bank.mdc","memory-bank.mdc",0,3835,"3.7 kB",1755669589,"20/08/2025, 11:29:49");</script>
